@font-face{
    font-family: "Nunito";
    src: url(fonts/Nunito-Regular.ttf);
    }
    :root{
        --orange:#f58d3d;
        --black:#2c2c54;
        --mainSpacing: 0.1rem;
        --mainTransition: all 0.3s linear;
        --primaryColor: #f58d3d;
        --mainWhite: #fff;
        --mainBlack: #222;
        --mainGrey: #ececec;
        
    }
    *{
        font-family: "Nunito", sans-serif;
        margin:0; padding:0;
        box-sizing:border-box;
        outline:none; border:none;
        text-decoration:none;
        text-transform:capitalize;
        transition: all .2s linear;
         
    }
    *::selection{
        background:var(--orange);
        color:#fff;
    }
    html{
        font-size:60%;
        overflow-x:hidden;
        scroll-padding-top:6.5rem;
        scroll-behavior:smooth;
    }
    .header-1{
        display:flex;
        background:#eee;
        align-items: center;
        padding:1.3rem 6%;
        justify-content:space-between;
        
    }
    .logo{
        color:var(--black);
        font-size:3.5rem;
        font-weight:bolder;
    }
    
    .logo img{
        padding-right:.5rem;
        width:40px;
    }
    
.header-1 .search-box{
    display:flex;
    height: 4rem;
}
.header-1 .search-box #search-box{
    height:100%;
    width:100%;
    padding:1rem;
    font-size:2rem;
    color:#333;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform:none;
}
.header-1 .search-box label{
    height:100%;
    width:6rem;
    font-size:2rem;
    line-height:4rem;
    color:#fff;
    background:var(--orange);
    text-align:center;
    cursor:pointer;

}
.header-1 .search-box label:hover{
background:var(--black);
}
.header-2 {
    display:flex;
    background:#fff;
    align-items: center;
    padding:2rem 9%;
    justify-content:space-between;
    box-shadow:0.5rem 1rem rgba(0,0,0,.1);
    position:relative;
}
.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index:10000;
}
.header-2 .navbar a{
padding: .5rem 1.5rem;
font-size: 1.8rem;
border-radius: .5rem;
color:var(--black);
}
.header-2 .navbar  a:hover{
background:var(--orange);
color:#fff;
}
 .icons .fa:hover{
    color:var(--orange);
}
.header-2 .icons i{
    font-size: 2.5rem;
    color:var(--black);
    padding-left:1rem;
}

/* Cart no*/
.icons .fa-cart-plus{
    position:relative;
    }
    .cart-no{
        position:absolute;
        background:var(--orange);
        color:#fff;
        padding: 0 .5rem;
        border-radius: 30%;
        top: 6px;
        right: 19.5rem;
        font-size: 1.4rem;
    }
    
    /*cart*/
    
    #bar{
        font-size:2rem;
        border-radius:.3rem;
        border:.1rem solid var(--black);
        color:var(--black);
        padding:.8rem 1.5rem;
        cursor:pointer;
        display:none;
    }
     .first, .second{
        padding:1rem 9%;
    }
    .home{
      display:flex;
      align-items:center;
      justify-content:center;
      flex-wrap:wrap;
    }
    .home .image{
        flex:1 1 40rem;
        padding-top: 0.1rem;
        
    }
    .home .image img{
        width:80%;
        margin-left:-20px;
    
    }
    .home .content{
        flex:1 1 40rem;
    }
    .home .content span{
        font-size:3rem;
        color:#666;
    }
    .home .content h3{
        font-size: 4rem;
        color:var(--black);
    }
    .btn{
    display:inline-block;
    margin-top:1rem;
    background:var(--orange);
    padding:.8rem 3rem;
    font-size:1.8rem; 
    color:#fff;
    cursor:pointer;
    text-align:center;
    }
    .btn:hover{
        background:var(--black);
    }
    
    .banner-container{
        display:flex;
        flex-wrap:wrap;
        gap:2rem;
    }
    .banner-container .banner{
        flex:1 1 40rem;
        height:25rem;
        
        overflow:hidden;
        position:relative;
    
    }
    .banner-container .banner img{
        width:110%;
        height:100%;
        object-fit: cover;
    }
    
.banner-container .banner .content{
    position:absolute;
    top:40%; left:4%;
    transform: translateY(-50);
    }
    .banner-container .banner .content h3{
        font-size: 3rem;
        color:var(--black);
    
    }
    .banner-container .banner .content p{
        font-size: 2rem;
        color:#333;
        
    }
    .banner-container .banner img:hover{
    transform: scale(1.2) rotate(-5deg);
    }
    .heading{
        text-align:center;
        text-transform:uppercase;
        color:var(--black);
        font-size:3rem;
        padding:2rem;
        padding-bottom:3rem;
    }